#modal{
    position: fixed;
    background-color: rgba(4, 191, 137, 1);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: .3s;
    color: #fff;
}
#modal .content{
    width: 60%;
    display: grid;
    margin: 0 auto;
    height: 90vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#modal .content h1{
    font-size: 40px;
    margin: 0;
    padding: 0;
    color: white;
    margin-bottom: 20px;
}
form .input-modal input{
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 20px;
    width: 97%;
    outline: none;
    font-size: 16px;
    border: none;
}
form label{
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

form textarea {
    width: 100%;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0 0px 16px -8px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    overflow: hidden;
    resize: none;
}

form .modalbuttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50%;
}
form #modalbtn1, #modalbtn2{
    background: none;
    padding: 15px;
    cursor: pointer;
    border: none;
    color: 	#fff;
    border-bottom: 0.5px solid #fff;
    font-size: 15px;
    font-weight: bold;
    transition: .3s;
}

form #modalbtn1:hover, #modalbtn2:hover{
    transform: translateY(-2px);
    background-color: rgb(55, 0, 255);
    color: white;
    text-decoration: none;
    outline: none;
}
#modal label{
    font-size: 15px;
    line-height: 25px;
}
#modal.hide{
    opacity: 0;
    visibility: hidden;
}

