header{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    height: 50px;
}

header .navbar{
    grid-column: 2;
}

header .nav-item{
    display: inline-block;
}

header .nav-item a{
    text-decoration: none;
    font-size: 18px;
    margin-left: 15px;
    transition: 0.2s;
    padding-left: 2px;
}

header .nav-item a.nav-link:hover{
    color: blanchedalmond;
    transform: translateY(2px);
} 